<div id="header">Tags</div>

<p>
<%= link_to "New", new_tag_path%>	
</p>	
<table>
  <tr>
    <th>Name</th>
	<th></th>
  </tr>

<% even = 0%>
<% @tags.each do |tag| %>
  
	<%if even%2==0%> <tr> <% else %> <tr class ="alt"> <%end%>
    <td><%= link_to tag.name, tag_path(tag)%></td>
	<td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	
  </tr>
  <% even = even+1%>

<% end %>
</table>

<br />


<%= link_to 'Back', root_path %>