body {
  font-size: 14px;
	#header {
  		background-color: $main-color;
  		color: $bg-color;
  		padding: 4px;
  		border-bottom: solid 5px darken($main-color, 10%);
  		font-size: 35px;
  		@include title-font
	}
}

h1 { 
  @include title-font;
  font-size: 46px; 
  margin: 20px 0 20px;
}
h2 { 
  @include title-font;
  font-size: 30px; 
  margin: 10px 0 10px;
}
h3 { 
  @include title-font;
  font-size: 22px; 
  margin: 10px 0 10px;
}

h4 {
  @include title-font;
  font-size: 18px;
  margin: 5px 0 0;
}
  
p {
  margin: 10px 0;
  font-size: 12px;
}

a {
  color: $link-color;
}